/*
Use for Juice lesson_add
*/
@font-face {
	font-family: Juice;
	src: local(Microsoft JhengHei);
}

@font-face {
	font-family: Juice;
	unicode-range: U+0030-0039,U+0041-005A,U+0061-007A;
	src: local(Consolas);
}

*{
	font-family: Juice,Microsoft JhengHei,Arial;
}

header{
	height: 100px;
	background-color: #FFF;
}

html, body {
	margin: 0;
	height: 100%;
}

footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#main {
	min-height: calc(100% - 200px);
}

.center {
	text-align: center;
}

.warning {
	color: #FF0000;
}

.title {
	color: #0000FF;
}

.juice-logo{
	background-image: url("http://crux.coder.tw/freedom/juice/images/logo.png");
	background-size: 200px 100px;
	width: 200px;
	height: 100px;
	float: left;
	margin-left: 5px;
}

.juice-menu-head nav ul{
	float: right;
	margin-top: 55px;
	margin-right: 10px;
}

.login-area {
	margin: 0;
	vertical-align: middle;
}

#login{
	width: 300px;
	margin: auto;
}

#login fieldset {
	border: 0;
	border-radius: 8px;
	padding: 10px;
	margin: auto;
	background: #EEE;
}

#login fieldset div,
#login fieldset div div{
	margin-left: auto;
    margin-right: auto;
	display: inline-block !important;
}

#login fieldset div label{
	width: 50px;
	text-align: center;
}

.juice-lesson-body{
	width: 900px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

.juice-lesson-titles{
	float: right;
	display: inline-block;
	margin-top: 5px;
	margin-right: 8px;
}

.juice-lesson-contents{
	max-width:860px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.juice-lesson-contents label{
	display: block;
	margin-top: 8px;
	margin-bottom: 3px;
	margin-left: 8px;
}

.juice-lesson-button{
	margin: 10px;
}
