/* Use for Juice */

/* Font Setting */
@font-face {
	font-family: Juice;
	src: local(Microsoft JhengHei);
}

@font-face {
	font-family: Juice;
	unicode-range: U+0030-0039,U+0041-005A,U+0061-007A;
	src: local(Consolas);
}

*{
	font-family: Juice,Microsoft JhengHei,Arial;
}

/* Layout Setting */
header {
	width: 100%;
	min-height: 100px;
	background-color: #FFF;
	border-bottom: 1px solid #dfdfdf;
}

html, body {
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: 100%;
}

footer {
	width: 100%;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
	clear: both;
}

#main {
	min-height: calc(100% - 200px);
}

#login label {
	width: auto;
	margin-left: 3em;
}

#login-r {
	position: relative;
	width: 350px;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
}
.shadow {
	border: 1px solid #dfdfdf;
	border-radius: 8px;
	box-shadow: #666 0px 2px 3px;
	padding: 4em 0em 2em 0em;
}

.fullheight {
	min-height: calc(100% - 200px);
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.t-left {
	text-align: left;
}

.m-center {
	margin-left: auto;
	margin-right: auto;
}

.warning {
	color: #FF0000;
}

.title {
	color: #0000FF;
}

.juice-logo {
	background-image: url("http://crux.coder.tw/freedom/juice/images/logo.png");
	background-size: 200px 100px;
	width: 200px;
	height: 100px;
	float: left;
	margin-left: 0.5em;
}

.juice-menu-head nav ul {
	float: right;
	margin-top: 3.5em;
	margin-right: calc(100% / 8);
}

/* Course Setting */
#course_list {
	width: auto;
	margin: 1em 0 0 0;
}

#course_list li {
	display: inline-block;
	width: 7em;
	line-height: 1.7em;
	background-color: #FCFCFC;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid #dfdfdf;
	border-bottom-style: none;
	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;
	margin-left: 0.01em;
	margin-right: 0.01em;
	cursor: pointer;
}

#course_list li:hover {
	background-color: #FFF;
	border-bottom-style: 1px solid #FFF;
}

#course_body {
	margin: -1px 0 0 0;
	background-color: #FFF;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	border-left: none;
	border-right: none;
	overflow-x: hidden;
}

#course_float {
	display: flex;
	margin: 0;
	padding: 0;
	width: 400%;
}

#course_introduction,
#course_example,
#course_practice,
#course_implement {
	width: 25%;
	vertical-align: top;
}
