/* Use for Juice */

/* Font Setting */
@font-face {
	font-family: Juice;
	src: local(Microsoft JhengHei);
}

@font-face {
	font-family: Juice;
	unicode-range: U+0030-0039,U+0041-005A,U+0061-007A;
	src: local(Consolas);
}

*{
	font-family: Juice,Microsoft JhengHei,Arial;
}

/* Layout Setting */
header {
	width: 100%;
	height: 60px;
	background-color: #FFF;
	border-bottom: 1px solid #dfdfdf;
}

html, body {
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: 100%;
}

footer {
	width: 100%;
	min-height: 30px;
	line-height: 30px;
	text-align: center;
	clear: both;
}

footer .link{
	text-decoration: none;
}

#login label {
	width: auto;
	margin-left: 3em;
}

#login-r {
	position: relative;
	width: 350px;
}

#register-r {
	position: relative;
	width: 500px;
}

.shadow {
	border: 1px solid #dfdfdf;
	border-radius: 8px;
	box-shadow: #666 0px 2px 3px;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.t-left {
	text-align: left;
}

.m-center {
	margin-left: auto;
	margin-right: auto;
}

.warning {
	color: #FF0000;
}

.title {
	color: #0000FF;
}

.juice_logo {
	background-image: url("http://crux.coder.tw/freedom/juice/images/logo.png");
	background-size: 120px 60px;
	width: 120px;
	height: 60px;
	float: left;
	margin-left: 0.5em;
}

.juice_menu_head nav ul {
	float: right;
	margin-top: 1.5em;
	margin-right: calc(100% / 8);
}


.juice_body {
	display: flex;
	width: 100%;
	min-height: calc(100% - 121px);
	margin: auto;
	padding: 0;
	flex-flow: row wrap;
	align-items: stretch;
 	align-content: flex-start;
}

.u-1,
.u-1-1,
.u-1-2,
.u-1-3,
.u-2-3,
.u-1-4,
.u-3-4,
.u-1-5,
.u-2-5,
.u-3-5,
.u-4-5,
.u-5-5,
.u-1-6,
.u-5-6,
.u-1-8,
.u-3-8,
.u-5-8,
.u-7-8,
.u-1-12,
.u-5-12,
.u-7-12,
.u-11-12,
.u-1-24,
.u-2-24,
.u-3-24,
.u-4-24,
.u-5-24,
.u-6-24,
.u-7-24,
.u-8-24,
.u-9-24,
.u-10-24,
.u-11-24,
.u-12-24,
.u-13-24,
.u-14-24,
.u-15-24,
.u-16-24,
.u-17-24,
.u-18-24,
.u-19-24,
.u-20-24,
.u-21-24,
.u-22-24,
.u-23-24,
.u-24-24 {
    display: flex;
}

.u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.u-1-12,
.u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.u-1-8,
.u-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.u-1-6,
.u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.u-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.u-1-4,
.u-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.u-1-3,
.u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.u-3-8,
.u-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.u-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.u-5-12,
.u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.u-1-2,
.u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.u-7-12,
.u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.u-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.u-5-8,
.u-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.u-2-3,
.u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.u-3-4,
.u-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.u-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.u-5-6,
.u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.u-7-8,
.u-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.u-11-12,
.u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.u-1,
.u-1-1,
.u-5-5,
.u-24-24 {
    width: 100%;
}

.blankblock {
	background-color: #FFF;
	border: 1px solid #dfdfdf;
	margin: 0 1em;
}

/* Course Setting */
.lesson_list {
	width: 100%;
}

.course_list {
	width: auto;
	margin: 1em 0 0 0;
	padding: 0 0 0 3em;
}

.course_list li {
	display: inline-block;
	width: 7em;
	line-height: 1.7em;
	background-color: #FCFCFC;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid #dfdfdf;
	border-bottom-style: none;
	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;
	margin-left: 0.01em;
	margin-right: 0.01em;
	cursor: pointer;
}

.course_list li:hover {
	background-color: #e0e0e0;
	border-bottom-style: 1px solid #FFF;
}

.course_option {
	border: 1px solid #dfdfdf;
	border-radius: 8px;
	background-color: #FFF;
	width: 10em;
	height: 8em;
	margin: 0.5em 1em;
	padding: 2em;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.course_option:hover {
	background-color: #DDD;
	box-shadow: #666 0px 2px 3px;
}

.course_option_table {
	display: flex;
	padding: 0 1em 1em 1em;
	flex: none;
	flex-flow: row wrap;
	justify-content: center;
}

.course_body {
	margin: -1px 2em 0 2em;
	background-color: #FFF;
	border: 1px solid #dfdfdf;
	overflow-x: hidden;
	overflow-y: hidden;
}

#course_float {
	display: inline-flex;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	width: 400%;
}

#course_introduction,
#course_example,
#course_practice,
#course_implement {
	width: 25%;
}

/* Status Setting */
.status_list {
	width: auto;
	margin: 1em 0 0 0;
}

.status_list li {
	display: inline-block;
	width: 4em;
	line-height: 1.5em;
	background-color: #FCFCFC;
	font-size: 1em;
	text-align: center;
	border: 1px solid #dfdfdf;
	border-bottom-style: none;
	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;
	margin-left: 0.01em;
	margin-right: 0.01em;
	cursor: pointer;
}

.status_list li:hover {
	background-color: #e0e0e0;
	border-bottom-style: 1px solid #FFF;
}

.status_profile {
	margin-top: 2em;
	height: 15em;
}

.status_option {
	border: 1px solid #dfdfdf;
	border-radius: 0.2px;
	background-color: #FFF;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
	cursor: pointer;
}

.status_option:hover, .status_option_hover {
	background-color: #DDD;
	box-shadow: #666 0px 2px 3px;
}

.status_option_table {
	display: flex;
	padding: 0.5em 1em;
	flex: none;
	flex-flow: row wrap;
}

.show_status {
	margin-top: 1em;
	padding: 1em;
}

.retractable {
	cursor: pointer;
}

.retractable:hover {
	background-color: #DDD;
}

/* go_to_top */
#go_to_top {
	position:fixed;
	right: 1em;
	bottom: 5em;
	opacity: 0.5;
	z-index: 1;
	cursor: pointer;
}

/* Judge Result Color */
.Judging {
	color: #0000FF;
}

.AC {
	color: #00FF00;
}

.WA {
	color: #FF0000;
}