.header-list {
	float: right;
	font-size: 18px;
	font-family: Microsoft JhengHei;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 5px;
	display:inline-block;
	background-color: #666666;
}
.dropdown-menu {
	display: block;
	list-style-type: none;
	list-style-position: inside;
}
.btn {
	text-align: right;
	padding: 5px;
	background-color: #666666;
	display: none;
}
.individual-side {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30%;
	height: 1000px;
	float: left;
}
.overview-side {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 69%;
	height: 1000px;
	float: right;
}
header {
	height: 100px;
}
footer {
	height: 80px;
	text-align: center;
	padding: 60px 0px 0px 0px;
}
.header {
	clear: both;
	background-color: #999999;
}
.footer {
	clear: both;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	background-color: #999999;
}
.lesson_add_header {
	float: right;
	font-size: 18px;
	font-family: Microsoft JhengHei;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 5px;
	display:inline-block;
}
.lesson_add_title {
	display: block;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: Microsoft JhengHei;
}
a {
	text-decoration: none;
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #333333;
}
a:hover {
    color: #000000;
}
a:active {
    color: #333333;
}